<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
<h1>歡迎來到我的部落格</h1>
<br>
{% for article in articles %}
<h3>{{ article.title }}</h3>
	<p>發表時間:{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
	<div class=articleContent>{{ article.content }}</div>
	<p>瀏覽次數:{{ article.views }},按讚:{{ article.likes }}</p>
	<hr>
{% endfor %}

<br>
</body>
</html>